lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
db_
npm-debug.log
node_modules
ssl
.ssl
config.js
public/dist
public/dist/build.js
public/config.xml
public/avatars/
dbBackups
server/.pk.js
configMain.js
