<div id="cabinet">
    <h1 class="txt-white">Cabinet {{$root.user.login}}</h1>

    <div 
        ng-class="{'active-coin': coinName === c}"
        class="txt-white big hovered"
        ng-repeat="(i, c) in coinList"
        ng-if="c!=='DEMO'"
        ng-click="$root.settings.coinName = c"
        >Deposit: <span class="big txt-yellow">{{$root.tsp($root.user.deposits[c] + $root.user.depositInGame[c])}}</span> {{c}}</div>

    <h2 class="mt25">Referals ({{refs.length}})</h2>
    <div class="scrolled-600">
        <table class="table_dark" id="transactions">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Bonus</th>
            </tr>
            <tr ng-repeat="(i, r) in refs">
                <td>{{i + 1}}</td>
                <td>{{r.name}}</td>
                <td>{{$root.tsp(r.bonus)}}</td>
            </tr>
        </table>
    </div>

    <h2 class="mt25">Transactions</h2>
    <div class="scrolled-600">
        <table class="table_dark" id="transactions">
            <tr>
                <th>#</th>
                <th>Tx Hash</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="(i, tx) in txs" ng-class="tx.type === 'withdraw' ? 'txt-red' : 'txt-green'">
                <td>{{i + 1}}</td>
                <td><a ng-href="https://explorer.minter.network/transactions/{{tx.hash}}" target="_blank">{{hashShort(tx.hash)}}</a></td>
                <td>{{tx.type}}</td>
                <td>{{$root.tsp(tx.amount)}}</td>
                <td>{{fullTime(tx.unix)}}</td>
            </tr>
        </table>
    </div>
</div>
