<div id="lobby">

    <div class="modal-wrap" ng-show="isShowWithdraw">
        <div class="modal">
            <div class="modal-text">Вы действительно хотите вывести {{$root.user.deposit}} {{$root.config.coinName}}?
            </div>
            <div class="buts">
                <div class="but bg-green" ng-click="$root.withdraw()">Да</div>
                <div class="but bg-red" ng-click="isShowWithdraw = false">Нет</div>
            </div>
        </div>
        <div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
    </div>

    <div id="full-screen-icon" onclick="toggleFullScreen()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div id="user-panel">
        <img src="/images/ligapoker.gif" class="label-poker">
        <div class="login-path" ng-show="isLogged()"><b>Привет!</b> <span class="user-name">{{$root.user.login}}</span>
            <i class="fa fa-sign-out txt-red hovered" aria-hidden="true" ng-click="$root.logOut()"></i>
            <br>Баланс:
            <span class="deposit">{{$root.user.deposit}}</span>
            <i onclick="copyAddress()" class="fa fa-creative-commons txt-green hovered" aria-hidden="true"></i>
            <br>Вывести:
            <span class="withdraw">{{$root.user.deposit}}</span>
            <i ng-click="isShowWithdraw = true" class="fa fa-share-square txt-red hovered" aria-hidden="true"></i>
        </div>
    </div>
    <div class="modal-wrap" ng-show="!isLogged()">
        <div class="modal">
            <form ng-submit="logreg()">
                <label for="screen-login-input">Ваш логин</label>
                <input id="screen-login-input" class="input-left" type="text" ng-model="login" ng-trim="true" required>

                <label for="screen-address-input" ng-show="!isLoginned">Минтер адрес</label>
                <input id="screen-address-input" class="input-left" type="text" ng-model="address" ng-show="!isLoginned"
                    ng-trim="true">

                <label for="screen-password-input">Пароль</label>
                <input id="screen-password-input" class="input-left" type="password" ng-model="password" ng-trim="true"
                    required>
                <br>
                <br>
                <input type="submit" value="Submit">

                <a ng-click="isLoginned =! isLoginned">{{isLoginned ? 'Регистрироваться?' : 'Есть аккаунт?'}}</a>
            </form>
        </div>
        <div id="curtain" ng-show="!isLogged()"></div>
    </div>
    <table id="table-list" class="table_dark">
        <tr>
            <th class="dark-border">#</th>
            <th class="dark-border">Комната</th>
            <th class="dark-border">BB/SB</th>
            <th>Игроков</th>
            <th>Buy in</th>
            <th>Тип</th>
        </tr>
        <tr ng-repeat="table in lobbyTables" ng-show="table">
            <td>{{table.id + 1}}</td>
            <td>
                <a href="#!/table-{{table.seatsCount}}/{{table.id}}">
                    <span class="table-name-img">
                        {{table.name}}&nbsp;<span class="red-cheap" ng-class="{img_animate: table.playersSeatedCount}"></span>
                    </span>
                </a>
            </td>
            <td class="centered-text">{{table.bigBlind}}/{{table.smallBlind}}</td>
            <td class="centered-text"> {{table.playersSeatedCount}}/{{table.seatsCount}}</td>
            <td class="centered-text">{{table.minBuyIn}}/{{table.maxBuyIn}}</td>
            <td class="centered-text"
                ng-class="{'txt-green': table.type === 'light', 'txt-yellow': table.type === 'hard', 'txt-red': table.type === 'unlim'}">
                {{table.type}}</td>
        </tr>
    </table>
</div>