<div id="lobby">
    <!-- MODAL WITHDRAW -->
    <div class="modal-wrap" ng-show="isShowWithdraw">
        <div class="modal withdraw">
            <div class="modal-text">
                <div>Maximal withdraw amount<span class="big txt-green">{{$root.user.deposits[$root.settings.coinName]}}</span>
                    {{$root.settings.coinName}} (comission {{$root.config.withdrawComission}}%)</div>
                    <div class="left mt15"><span class="w150 left">Withdraw:</span> <input ng-model="withdrawAmount" type="number" placeholder="Amount"> 
                        <span class="big txt-yellow" ng-click="withdrawAmount = $root.user.deposits[$root.settings.coinName]"> All </span>
                    </div>
                    <div class="left mt15">
                        <span class="w150 left">Address :</span> <textarea type="text" ng-model="withdrawAddress" placeholder="Address"></textarea>
                    </div>  
            </div>
            <div class="buts" ng-click="isShowWithdraw = false">
                <div class="but bg-green" ng-click="$root.withdraw(withdrawAmount, withdrawAddress);">Ok</div>
                <div class="but bg-red">Cancel</div>
            </div>
        </div>
        <div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
    </div>

    <!-- MODAL DEPOSIT -->
    <div class="modal-wrap" ng-show="isShowDeposit">
        <div class="modal withdraw">
            <div class="modal-text">
                <div class="txt-green m10">Deposit {{$root.settings.coinName}}</div>
                <div class="txt-yellow">Amount: <input ng-model="depositAmount" type="number"></div>
                <div class="small txt-yellow mt25">
                    * Пополнение осуществляется с помощью сервиса <i>Coinpayments</i>. Для Вас будет создана транзакция на указанную сумму. 
                </div>
            </div>
            <div class="buts" ng-click="isShowDeposit = false">
                <div class="but bg-green" ng-click="$root.depositCps(depositAmount)">Ok</div>
                <div class="but bg-red">Cancel</div>
            </div>
        </div>
        <div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
    </div>

    <div class="modal-wrap" ng-show="isShowAddWallet">
        <div class="modal center">
          <h3>Add address <span class="txt-green big">{{$root.settings.coinName}}</span></h3>
            <input class="dark-form w350 big" ng-model="addedAddress" placeholder="Mx...">
            <div class="buts mt25" ng-click="isShowAddWallet = false">
                <div class="but bg-green" ng-click="addAddress()">Ok</div>
                <div class="but bg-red" ng-click="isShowAddWallet = false;">Cancel</div>
            </div>
        </div>
    </div>
    <div class="modal-wrap" ng-show="isShowTournModal" ng-click="isShowTournModal = false">
        <div class="modal tourn-info">
            <div class="modal-text">
                <div class="bigbig txt-yellow m10"><i class="fa fa-trophy" aria-hidden="true"></i> Tournament Minter Poker
                </div>
                <div class="big txt-green m5" ng-if="public.mtt.title.length">{{public.mtt.title}}</div>
                <div class="big txt-blue m5">Start: {{public.mtt.date}}</div>
                <div class="big txt-green m5" ng-show="public.mtt.startBank">Bonus: {{public.mtt.startBank}}</div>
                <div class="bigbig txt-yellow m5">Bank: {{public.mtt.totalBank}}</div>
                <div class="big m5">Conditions:</div>

                <div class="small mtt-info">
                    <div class="setting-line"><span class="al">Buy in:</span> {{public.mtt.buyIn}}
                        {{$root.settings.coinName}}</div>
                    <div class="setting-line"><span class="al">Chips:</span> {{public.mtt.chips}}</div>
                    <!-- <div class="setting-line"><span class="al">Победителей:</span> {{public.mtt.winnersCount}}</div> -->
                    <div class="setting-line"><span class="al">Winners:</span> every 5th</div>
                    <!-- <div class="setting-line"><span>Смена столов:</span> {{public.mtt.timeOutShufflePlayers}} мин</div>
                                <div class="setting-line"><span>Рост блайнов:</span> {{public.mtt.timeOutMult}} мин</div> -->
                    <div class="setting-line"><span class="al">Participants:</span> {{public.mtt.users.length}}</div>
                </div>


                <br>
                <span ng-if="public.mtt.users.includes($root.user.login)" class="txt-green">You are already registered!</span>
                <span ng-if="!public.mtt.users.includes($root.user.login)">
                    <b class="m10">Participate for {{public.mtt.buyIn}}
                        {{$root.settings.coinName}}?</b>
                    <div class="buts m10">
                        <div class="but bg-green" ng-click="goInTourn();">GO!</div>
                        <div class="but bg-red">Cancel</div>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="modal-wrap" style="display: none;">
        <form ref='uploadForm' id='uploadAvatarForm' action='/upload' method='post' encType="multipart/form-data">
            <input id="input-upload-avatar" type="file" name="sampleFile" accept="image/*" />
            <input type="text" name="token" ng-model="$root.user.token" />
            <input id="submit-avatar" type='submit' value='Upload!' />
        </form>
    </div>

    <div class="right-icon" id="full-screen-icon" onclick="toggleFullScreen()"><i class="fa fa-arrows-alt"
            aria-hidden="true"></i></div>
            
            
            <!-- USERPANEL -->
    <div id="user-panel">
        <img src="/images/logo.png" class="label-poker">
        <div class="login-path" ng-show="isLogged()">
            <div class="avatar" ng-click="uploadAvatar()">
                <img class="avatar-img" ng-src="{{'./avatars/' + $root.user.login + '.jpg'}}"
                    onerror="generateRndAvatar(this)">
            </div>
            <div class="user-info">
                <b>Hello!</b> <span class="user-name">{{$root.user.login}}</span>
                <i class="fa fa-user-plus txt-green hovered" aria-hidden="true" ng-click="copyRefLink()"></i>
                <i class="fa fa-sign-out txt-red hovered" aria-hidden="true" ng-click="$root.logOut()"></i>
                <br>Coin:
                <select ng-model="$root.settings.coinName" class="select-coin txt-green">
                    <option ng-repeat="coinName in $root.config.coins">{{coinName}}</option>
                </select>
                <span class="user-name small" ng-if="addressShort()"> <br>{{addressShort()}}</span>
                <br>Balance:
                <span class="deposit">{{$root.tsp($root.user.deposits[$root.settings.coinName])}}</span>
                <i ng-show="$root.settings.coinName === 'BIP'" onclick="copyAddress()" class="fa fa-creative-commons txt-green hovered" aria-hidden="true"></i>
                <i ng-show="$root.settings.coinName === 'USDT'" ng-click="isShowDeposit = true;" class="fa fa-creative-commons txt-green hovered" aria-hidden="true"></i>
                <span ng-show="$root.settings.coinName !== 'DEMO' && $root.user.deposits[$root.settings.coinName]">
                    <br>
                    Withdraw:
                    <span class="withdraw">{{$root.tsp($root.user.deposits[$root.settings.coinName])}}</span>
                    <i ng-click="isShowWithdraw = true" class="fa fa-share-square txt-red hovered"
                        aria-hidden="true"></i>
                </span>
                <span class="user-name small" ng-show="!addressShort() && $root.settings.coinName === 'BIP'" ng-click="isShowAddWallet = true; addedAddress = ''"><br>Add wallet <i
                        class="fa fa-plus-square-o txt-green" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>

    <!-- LOGIN FORM -->
    <div class="modal-wrap" ng-show="!isLogged()">
        <div class="modal">
            <form ng-submit="logreg()">
                <span ng-show="!isShowFogotPswd">
                    <label for="screen-login-input">Login</label>
                    <input id="screen-login-input" class="input-left" type="text" ng-model="login" ng-trim="true"
                        required>
                    <!--
                    <label for="screen-address-input" ng-show="!isLoginned">Минтер адрес</label>
                    <input id="screen-address-input" class="input-left" type="text" ng-model="address"
                        ng-show="!isLoginned" ng-trim="true"> -->

                    <label for="screen-password-input">Password</label>
                    <input id="screen-password-input" class="input-left" type="password" ng-model="password"
                        ng-trim="true" required>
                    <br>
                    <div class="block-18" ng-show="!isLoginned">
                        <input id="screen-18-input" type="checkbox" ng-model="years18">
                        <label class="label-18-input  txt-yellow small" for="screen-18-input">Я подтверждаю, что мой
                            возраст не младше 18, и
                            я полностью понимаю и принимаю риски связанные с использованием криптовалют и участием в
                            азартных играх.</label>
                    </div>
                    <br>
                    <input class="but bg-blue" type="submit" value="Send">
                    <br>
                    <br>
                    <a class="txt-blue hovered"
                        ng-click="isLoginned = !isLoginned">{{isLoginned ? 'Sign up?' : 'Login?'}}</a>
                    |
                </span>

                <!-- ВОССТАНОВЛЕНИЕ ПАРОЛЯ -->
                <span ng-show="isShowFogotPswd">
                    <br>
                    <h3>Восстановление пароля</h3>
                    <span ng-show="!checkStrNewPswd">
                        <label for="screen-new-password-input">Введите новый пароль:</label>
                        <input id="screen-new-password-input" class="input-left" type="password" ng-model="newPassword"
                            ng-trim="true">
                        <br>
                        <div class="but hovered create-room m10" ng-click="restorePswd()">Восстановить</div>
                    </span>
                    <span ng-show="checkStrNewPswd">
                        <div class="">Отправьте пустую транзакцию c <u>Вашего</u> кошелька на системный адрес:
                            <div class="txt-green big">{{$root.config.gameMinterAddress}}</div>
                            с комментарием:
                            <div class="txt-green big">{{checkStrNewPswd}}</div>
                        </div>
                    </span>
                    <br>
                </span>
                <a class="txt-blue hovered"
                    ng-click="isShowFogotPswd = !isShowFogotPswd">{{!isShowFogotPswd ? 'Forgot password?' : 'Enter?'}}</a>
            </form>
        </div>
        <div id="curtain" ng-show="!isLogged()"></div>
    </div>

    <!-- создать комнату -->
    <div class="modal-wrap" ng-show="isCreateRoom">
        <div class="modal">
            <div id="room-create">
                <h4>Введите параметры комнаты:</h4>
                <div class="setting-line"><span>Название:</span> <input ng-model="createdTable.name" /></div>
                <div class="setting-line"><span>Количество рук:</span>
                    <select ng-model="createdTable.count">
                        <option value="2" selected>2</option>
                        <option value="6">6</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="setting-line"><span>Малый блаинд:</span> <input type="number" ng-model="createdTable.sb" />
                </div>
                <div class="setting-line"><span>Макс BuyIn:</span> <input type="number"
                        ng-model="createdTable.maxBuyIn" /></div>
                <div class="setting-line" ng-click="createdTable.isPrivate = !createdTable.isPrivate">
                    <span>Приватная</span><i class="fa hovered"
                        ng-class="'fa-toggle-' + (createdTable.isPrivate ? 'on' : 'off')" aria-hidden="true"></i>
                </div>
                <div class="buts" ng-click="isCreateRoom = false">
                    <div class="but bg-green" ng-click="createRoom();">Crete</div>
                    <div class="but bg-red">Reset</div>
                </div>
            </div>
        </div>
    </div>

    <div id="buttons-lobby">
        <div class="but hovered create-room big bold" ng-click="isCreateRoom = true"><i class="fa fa-users"
                aria-hidden="true"></i> &nbsp; Create room</div>
        <div class="but hovered create-room bg-black big bold txt-yellow"
            ng-show="public.mtt.isRegOppened && public.mtt.coinName === $root.settings.coinName"
            ng-click="isShowTournModal = true"><i class="fa fa-trophy" aria-hidden="true"></i> &nbsp; MTT Tournament</div>
        <div class="lobby-stat txt-green">
            <span>Total: <span class="big txt-yellow">{{$root.tsp(public.totalBankAmount)}}</span> BIP</span>
            <span> | Hands: <span class="big txt-yellow">{{$root.tsp(public.totalGamesCount)}}</span></span>
            <span> | Online: <span class="txt-yellow">{{public.online}}</span></span>
            <span> | in game: <span class="txt-yellow">{{playersInGame}}</span></span>
        </div>
    </div>
    <table id="table-list" class="table_dark">
        <tr>
            <!-- <th class="dark-border">#</th> -->
            <th class="dark-border">Room</th>
            <th class="dark-border">SB/BB</th>
            <th>Players</th>
            <th>Buy in</th>
            <th>History</th>
            <th>In room</th>
        </tr>
        <tr ng-repeat="table in lobbyTables" ng-if="table.coinName === $root.settings.coinName">
            <!-- <td>#{{table.id + 1}}</td> -->
            <!-- <td>{{table.coinName}}</td> -->
            <td><a href="#!/table-{{table.seatsCount}}/{{table.id}}">
                    <span class="table-name-img">
                        {{table.name}}&nbsp;<span ng-show="table.type !== 'SNG'"
                            ng-class="{'txt-green': table.type === 'light', 'txt-yellow': table.type === 'hard', 'txt-red': table.type === 'unlim', 'txt-blue': table.type === 'middle'}">
                            {{table.type}}</span>
                        &nbsp;<span class="red-cheap" ng-class="{img_animate: table.playersSeatedCount}"></span>
                        <!-- &nbsp;<span class="dice-gif" ng-show="true || table.name.includes('SPIN')"></span> -->
                    </span>
                </a>
                <i ng-show="table.name.includes('SPIN')" ng-click="showSpinInfo()" class="fa fa-info-circle txt-green"
                    aria-hidden="true"></i>
            </td>
            <td class="centered-text">{{table.smallBlind}}/{{table.bigBlind}}</td>
            <td class="centered-text"> {{table.playersSeatedCount}}/{{table.playersCount}}</td>
            <td class="centered-text">{{$root.tsp(table.minBuyIn)}}/{{$root.tsp(table.maxBuyIn)}}</td>
            <!-- <td class="centered-text">{{table.gamesCount}}/{{$root.tsp(table.allPots)}}</td> -->
            <td class="centered-text"><a target="blank_" href="logs/{{table.id + 1}}.html" class="txt-blue">History</a></td>
            <td><a href="#!/table-{{table.seatsCount}}/{{table.id}}" class="but_pol brd-green">GO!</a></td>
        </tr>
    </table>
</div>
