<div id="lobby">
    <div id="full-screen-icon" onclick="toggleFullScreen()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div id="user-panel">
        <img src="/images/ligapoker.gif" class="label-poker">
        <div class="login-path" ng-show="isLogged()"><b>Hello!</b> <span class="user-name">{{$root.user.login}}</span>
            <i class="fa fa-sign-out txt-red hovered" aria-hidden="true" ng-click="$root.logOut()"></i><br>Deposit:
            <span class="deposit">{{$root.user.deposit}}</span> <i onclick="copyAddress()" class="fa fa-creative-commons txt-green hovered"
                aria-hidden="true"></i> </div>
    </div>
    <div class="modal-wrap" ng-show="!isLogged()">
        <div class="modal">
            <form ng-submit="logreg()">
                <label for="screen-login-input">Enter your login</label>
                <input id="screen-login-input" class="input-left" type="text" ng-model="login" ng-trim="true" required>

                <label for="screen-address-input" ng-show="!isLoginned">Enter your address</label>
                <input id="screen-address-input" class="input-left" type="text" ng-model="address" ng-show="!isLoginned"
                    ng-trim="true">

                <label for="screen-password-input">Enter your password</label>
                <input id="screen-password-input" class="input-left" type="password" ng-model="password" ng-trim="true"
                    required>
                <br>
                <br>
                <input type="submit" value="Submit">

                <a ng-click="isLoginned =! isLoginned">{{isLoginned ? 'Got registration?' : 'Got Login?'}}</a>
            </form>
        </div>
        <div id="curtain" ng-show="!isLogged()"></div>
    </div>
    <table id="table-list" class="table_dark">
        <tr>
            <th class="dark-border">Name room</th>
            <th class="dark-border">Bet BB/SB</th>
            <th>Seats/Players</th>
            <th>Buy in</th>
        </tr>
        <tr ng-repeat="table in lobbyTables">
            <td><a href="#!/table-{{table.seatsCount}}/{{table.id}}">{{table.name}}</a></td>
            <td class="centered-text">{{table.bigBlind}}/{{table.smallBlind}}</td>
            <td class="centered-text">{{table.playersSeatedCount}}/{{table.seatsCount}}</td>
            <td class="centered-text">{{table.minBuyIn}}/{{table.maxBuyIn}}</td>
        </tr>
    </table>
</div>
