<div class="player-wrap">
    <div class="player-cards" ng-class="{dealt: player.hasCards}">
        <div class="card" ng-show="seatOccupied(seatIndex)" ng-class="getCardClass( seatIndex, 0 )"></div>
        <div class="card" ng-show="seatOccupied(seatIndex)" ng-class="getCardClass( seatIndex, 1 )"></div>
    </div>
    <div class="seat" ng-show="seatOccupied(seatIndex)" ng-class="{active: activeSeat===seatIndex, winner: $root.winnerName && $root.winnerName === player.name}">
            <img ng-show="player.name" class="avatar-img-seat" ng-src="{{'/avatars/' + player.name + '.jpg'}}" onerror="this.src='/avatars/default.jpg';">
        <!-- Таймер -->
        <div class="time-out" ng-show="activeSeat === seatIndex && $root.timeOutCurrent >=0 && !$root.winnerMsgArr.length">
            <span class="img_animate red-cheap"></span>&#160;{{$root.timeOutCurrent}}s
        </div>
        
        <!-- Выигрыш --> 
        <div class="time-out txt-green" ng-show="$root.winnersData[player.name]">+{{$root.winnersData[player.name].amount}}</div>

        <a class="sitIn" ng-show="!player.name" ng-click="showBuyInModal( {seat:seatIndex} )">Занять место</a>
        <div class="player-content" ng-show="player.name">
            <div ng-show="!notifications[seatIndex].message">
                <span>{{player.name}}</span>
                <div class="tin-line-player"></div>
                <span ng-show="player.sittingIn" class="txt-yellow deposit">{{$root.round((player.chipsInPlay)}}</span>
                <span ng-show="!player.sittingIn">Подняться</span>
            </div>
            <div ng-show="notifications[seatIndex].message">
                <span class="notification">{{notifications[seatIndex].message}}</span>
            </div>
        </div>
    </div>
    <div id="dealer-wrap-{{cellNumber}}" class="dealer-button" ng-show="dealerSeat===seatIndex"><i class="fa fa-gg-circle" aria-hidden="true"></i></div>
    <div id="bets-{{cellNumber}}" class="bets">
        <span ng-show="player.bet"><img src="/images/cheap.png">&nbsp;{{$root.round(player.bet)}}</span>
    </div>
</div>
