<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles/common.css" rel="stylesheet" type="text/css" />
    <title>Admin</title>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <button @click="tab='createTbl'">createTbl</button>
        <button @click="tab='users'">Users</button>
        <button @click="tab='tourn'">Tourn</button>
        <div v-if="tab === 'tourn'">
            <h2>Турниры</h2>
            <button @click="startMtt" class="bg-green but hovered">СТАРТ</button>
            <button @click="rmMtt" class="bg-red but hovered">Удалить</button>
            <button @click="rmMtt(true)" class="bg-red but hovered">Reset MTT (откат чипов)</button>
            <div class="input-line">
                <label>date</label>
                <input v-model="tourn.date">
            </div>
            <div class="input-line">
                <label>buyIn</label>
                <input v-model.number="tourn.buyIn" type="number"> 
            </div>
            <div class="input-line">
                <label>winnersCount</label>
                <input v-model.number="tourn.winnersCount" type="number">
            </div>
            <div class="input-line">
                <label>tableSeatsCount</label>
                <select v-model.number="tourn.tableSeatsCount">
                    <option>2</option>
                    <option>6</option>
                    <option>10</option>
                </select>
            </div>
            <div class="input-line">
                <label>chips</label>
                <input v-model.number="tourn.chips" type="number">
            </div>
            <div class="input-line">
                <label>timeOutShufflePlayers</label>
                <input v-model.number="tourn.timeOutShufflePlayers" type="number">
            </div>
            <div class="input-line">
                <label>timeOutMult</label>
                <input v-model.number="tourn.timeOutMult" type="number">
            </div>         
            
            <div @click="createMtt" class="but hovered bg-green">Открыть регу</div>
        </div>
        <span v-if="tab === 'users'">
        <h1>Total deposit {{totDep.toFixed(0)}}</h1>
        <button @click="stopGames">STOP GAMES!</button>
        <div id="users">
            <h2>Массовый откат</h2>
            <div class="m10">
                <input v-model.number="multReturn.amount" type="number">
                <br>
                <textarea v-model.number="multReturn.userList" placeholder="dev, dev1"></textarea>
                <div class="but hovered bg-yellow" @click="multReturnChips">Откат</div>
            </div>
            <table v-if="users.length">
                <tr>
                    <th>Ред.</th>
                    <th>Tx.</th>
                    <th>Login</th>
                    <th>Time</th>
                    <th>Address</th>
                    <th>Deposit</th>
                    <th>DepositInGame</th>
                </tr>
                <tr v-for="u in users">
                    <td @click="editUserId = u._id" v-if="editUserId !== u._id">Edit</td>
                    <td @click="editUser(u);" v-if="editUserId === u._id">Save</td>
                    <td @click="getTx(u)">Tx</td>
                    
                    <td v-show="editUserId !== u._id">{{u.login}}</td>
                    <td v-show="editUserId !== u._id">{{u.timestamp}}</td>
                    <td v-show="editUserId !== u._id">{{u.address}}</td>
                    <td v-show="editUserId !== u._id">{{u.deposit}}</td>
                    <td v-show="editUserId !== u._id">{{u.depositInGame}}</td>
                        
                        
                    <td v-show="editUserId == u._id"><input v-model="u.login" /></td>
                    <td v-show="editUserId == u._id"><input v-model="u.timestamp" /></td>
                    <td v-show="editUserId == u._id"><input v-model="u.address" /></td>
                    <td v-show="editUserId == u._id"><input v-model.number="u.deposit" /></td>
                    <td v-show="editUserId == u._id"><input v-model.number="u.depositInGame" /> !!</td>
                   
                </tr>
            </table>
        </div>
        <div id="txs">
            <h1>Транзакции {{txUserLogin}} (Dep: {{userDep}} | TXS: {{resultTxs.toFixed(2)}})
                <b>{{(userDep - resultTxs).toFixed(2)}}</b></h1>
            <table v-if="txs.length">
                <tr>
                    <th v-for="f in Object.keys(txs[0])" v-if="!['user_id'].includes(f)">{{f.toUpperCase()}}
                    </th>
                </tr>
                <tr v-for="tx in txs">
                    <td v-for="f in Object.keys(tx)" v-if="!['user_id'].includes(f)"><a target="_blank"
                            :href="'https://explorer.minter.network/transactions/' + tx.hash">{{tx[f]}}</a></td>
                </tr>
            </table>
        </div>
        </span>
        <span v-if="tab === 'createTbl'">
            <h3>Основные</h3>
            Name
            <input placeholder="Name" v-model="table.name">
            SB
            <input placeholder="SB" type="number" v-model.number="table.sb">
            Count seats
            <input placeholder="Count seats" type="number" v-model.number="table.count">
            <h3>Дополнительно</h3>
            buyIn
            <input placeholder="buyIn" type="number" v-model.number="table.data.buyIn">
            winnersCount
            <input placeholder="winnersCount" type="number" v-model.number="table.data.winnersCount">
            playersCount
            <input placeholder="playersCount" type="number" v-model.number="table.data.playersCount">
            userList
            <textarea v-model="table.data.userList"></textarea>
            <button @click="createTable">createTable</button>
        </span>
        </div>
        </div>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                tab: 'users',
                users: [],
                txs: [],
                txUserLogin: '',
                editUserId: 0,
                userDep: 0,
                resultTxs: 0,
                multReturn: {
                    amount: 0,
                    userList: ''
                },
                tourn: {
                    date: '',
                    buyIn: 100,
                    winnersCount: 1,
                    timeOutShufflePlayers: 5,
                    tableSeatsCount: 6,
                    chips: 1500,
                    timeOutMult: 5
                },
                table: {
                    name: 'Sng',
                    sb: 1,
                    count: 2,
                    isPrivate: false,
                    maxBuyIn: 100,
                    data: {
                        userList: '',
                        isOnce: true,
                        isTourn: true,
                        buyIn: 50,
                        winnersCount: 1,
                        playersCount: 3,
                        chips: 1500,
                        timeOutMult: 5 // минут
                    },
                }
            },
            computed: {
                totDep() {
                    return this.users.reduce((s, d) => {
                        return s + d.deposit + d.depositInGame;
                    }, 0);
                }
            },
            created() {
                this.updUsers();
            },
            methods: {
                createMtt:()=>api({action: 'createMtt', data: app.tourn}, data =>console.log('createMtt', data)),
                startMtt:()=>api({action: 'startMtt'}, data =>console.log('startMtt', data)),
                rmMtt: isReturn =>api({action: 'rmMtt', data: {isReturn: !!!isReturn}}, data =>console.log('rmMtt', data)),
                multReturnChips(){
                    api({
                        action: 'multReturnChips', 
                        data: {
                            amount: this.multReturn.amount,
                            logins: stringToArray(this.multReturn.userList)
                        }
                    }, data => console.log('multReturnChips', data));
                    this.multReturn = {amount: 0, userList: ''};
                },
                updUsers() {
                    api({
                        action: 'updUsers'
                    }, data => {
                        this.users = data;
                    });
                },
                editUser(user) {
                    this.editUserId = 0;
                    api({
                        action: 'editUser',
                        data: {
                            user
                        }
                    });
                },
                stopGames(){
                    api({action: 'gamesPaused'});
                },
                createTable() {
                  api({ action: 'roomCreate', data: this.table}, data => {
                    console.log('Table');
                    });
                },
                getTx(user) {
                    this.txUserLogin = user.login;
                    this.userDep = user.deposit + user.depositInGame;
                    api({
                        action: 'getTx',
                        data: {
                            _id: user._id
                        }
                    }, data => {
                        this.txs = data;
                        this.resultTxs = data.reduce((s, t) => {
                            if (t.type === 'withdraw') {
                                return s - t.amount;
                            }
                            return s + t.amount;
                        }, 0)
                    });
                }
            }
        });

        function api(obj, cb = () => {}) {
            obj.data = obj.data || {};
            obj.data.token = localStorage.getItem('token');
            fetch('/adminsplurgeola?action=' + obj.action + '&data=' + JSON.stringify(obj.data))
                .then(res => {
                    res.json().then(data => {
                        console.log('Resp:', obj.action + ' -> ', data);
                        if (data.success) {
                            cb(data.result);
                        } else {
                            console.warn(obj.action + ' error: ', data);
                        }
                    });
                })
                .catch(function (err) {
                    console.warn(obj.action, err);
                });
        };


        api({action: 'actionsStatDb'}, multi);



    function multi(res) {
        return;
        res.forEach(u => {
                const {games, bet, raise, fold, call} = u;
                u.maxGamesWith = getMax(games);
                u.maxFoldWith = getMax(fold, games, 'fold');
                u.maxBetWith = getMax(bet, games, 'bet');
                u.maxRaiseWith = getMax(raise, games, 'raise');
            });
            console.log(res);

            res.forEach(u => {
                const maxGamesOpponent = res.find(o => o.login === u.maxGamesWith.login);
                if (maxGamesOpponent) {
                    const maxGamesFromOpponent = maxGamesOpponent.maxGamesWith;
                    if (maxGamesFromOpponent.login === u.login) {
                        console.log('---------------');
                        console.log('>>>>>', u.login + ' is ' + maxGamesOpponent.login);
                        console.log(getString(u));
                        console.log(getString(maxGamesOpponent));
                        console.log('opponentData:', maxGamesFromOpponent.login, maxGamesFromOpponent.count);
                    }
                }
            });

            function getString(u) {
                if (!u) {
                    return 'not find';
                }
                return `${u.login} maxGames: ${u.maxGamesWith.login} (${u.maxGamesWith.count}) | maxFold: ${u.maxFoldWith.login} (${+u.maxFoldWith.koef}) maxRaise: ${u.maxRaiseWith.login} (${+u.maxRaiseWith.koef})`;
            }

            function getMax(type, games, nameType) {
                let max = {
                    count: 0,
                    login: 'none'
                };
                for (let login in type) {
                    if (max.count < type[login]) {
                        max.count = type[login];
                        max.login = login;
                        if (nameType) {
                            max['koef'] = games[login] / max.count;
                        }
                    }
                }
                return max;
            }
        }


        function stringToArray(string) {
                let userListArray = [];
                if (string !== '') {
                    string = string.replace('  ', ' ').replace('  ', ' ');
                    userListArray = string.split(',');
                }
                return userListArray.map(e=>e.trim());
            }
    </script>
</body>


<style>
    body{
        background: slategray;
        color: snow;
    }
    #users {
        width: 100%;
        height: 800px;
        overflow: scroll;
    }

    table input {
        width: 100%;
        padding: 6px;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
    }

    th {
        background: rgb(35, 36, 36);
        color: white;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
    }

    th,
    td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }

    th:first-child,
    td:first-child {
        text-align: left;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
    }

    td {
        color: wheat;
        padding: 10px 20px;
        background: rgb(150, 149, 145);
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    tr td:last-child {
        border-right: none;
    }

    .input-line{
        margin: 5px;
    }
    .input-line label{
        display: inline-block;
        width: 200px;
    }
</style>

</html>
