<div id="table-wrap">

    <!--topPath-->

    <div class="row">
        <div id="user-in-lobby">
            <span class="txt-yellow">{{$root.user.login}} </span>
            <span class="txt-green big">&nbsp;{{$root.user.deposit}}&nbsp;<span class="small">Cheaps</span></span>
        </div>
        <div class="cell">
            <a id="go-to-lobby" class="button-top txt-yellow" ng-click="inToLobby = true"><i class="fa fa-chevron-left"
                    aria-hidden="true"></i> Лобби</a>
            <!--set0-->
        </div>
        <div class="cell">
            <!--set1-->
        </div>
        <div class="cell">
            <!--set2-->
        </div>
        <div class="cell">
            <a id="buy-coins" class="button-top txt-green" onclick="copyAddress()">Купить</a>
            <!--set3-->
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <!--set9-->
        </div>

        <!--cardPath-->

        <div class="cell">
            <!--set4-->
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <!--set8-->
        </div>
        <div class="cell">
            <!--set7-->
        </div>
        <div class="cell">
            <!--set6-->
        </div>
        <div class="cell">
            <!--set5-->
        </div>
    </div>

    <!--bottomPath-->

</div>