<div id="table-wrap">

    <!--topPath-->

    <div class="row">
        <div id="user-in-lobby">
            <span class="txt-yellow">{{$root.user.login}} </span>
            <span class="txt-green big">&nbsp;{{$root.user.deposits[$root.settings.coinName]}}&nbsp;<span class="small">{{$root.settings.coinName}}</span></span>
            &nbsp;<span ng-click="isOpenSettings = true" class="bigbig txt-grey hovered"><i class="fa fa-cog" aria-hidden="true"></i></span>
            &nbsp;<span ng-show="publicMtt" ng-click="isOpenMTTinfo = true" class="bigbig txt-yellow hovered"><i class="fa fa-trophy" aria-hidden="true"></i></span>

        </div>
        <div class="cell">
            <a id="go-to-lobby" class="button-top txt-yellow" ng-click="toLobby()"><i class="fa fa-chevron-left"
                    aria-hidden="true"></i> Lobby</a>
            <!--set0-->
        </div>
        <div class="cell">
            <!--set1-->
        </div>
        <div class="cell">
            <!--set2-->
        </div>
        <div class="cell">
            <a id="buy-coins" class="button-top txt-green" onclick="copyAddress()">Buy</a>
            <!--set3-->
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <div id="checkbox-auto-moves" ng-show="actionState === '' && table.seats[mySeat].chipsInPlay > 0">
                <div class="setting-line" ng-click="automoves.isCheckFold = !automoves.isCheckFold">
                    <i class="fa hovered" ng-class="'fa-toggle-' + (automoves.isCheckFold ? 'on' : 'off')"
                        aria-hidden="true"></i>
                    <div class="settings-label">Check/Fold</div>
                </div>
                <div class="setting-line" ng-click="automoves.isCheck = !automoves.isCheck">
                    <i class="fa hovered" ng-class="'fa-toggle-' + (automoves.isCheck ? 'on' : 'off')"
                        aria-hidden="true"></i>
                    <div class="settings-label">Check</div>
                </div>
                <div class="setting-line" ng-click="automoves.isCall = !automoves.isCall">
                    <i class="fa hovered" ng-class="'fa-toggle-' + (automoves.isCall ? 'on' : 'off')"
                        aria-hidden="true"></i>
                    <div class="settings-label">Call (3xBB)</div>
                </div>
                <div ng-if="!table.isTourn" class="setting-line" ng-click="sitOutMe()">
                    <i class="fa hovered" ng-class="'fa-toggle-' + (table.seats[mySeat].isSitOutMe ? 'on' : 'off')"
                        aria-hidden="true"></i>
                    <div class="settings-label">SitOut (10m)</div>
                </div>
            </div>
            <!--set9-->
        </div>

        <!--cardPath-->

        <div class="cell">
            <!--set4-->
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <!--set8-->
        </div>
        <div class="cell">
            <!--set7-->
        </div>
        <div class="cell">
            <!--set6-->
        </div>
        <div class="cell">
            <!--set5-->
        </div>
    </div>

    <!--bottomPath-->

</div>
