<div class="controls">
    <div class="chat-cell">
        <div id="chat" ng-controller="ChatController">
            <div id="messages"></div>
            <form ng-submit="sendMessage()">
                <input type="text" ng-model="messageText" placeholder="Message">
                <input type="submit" value="↵">
            </form>
        </div>
    </div>
    <div class="button-control">
        <button class="control-button" ng-click="fold()" ng-show="showFoldButton()">Fold</button>
        <!-- <button class="control-button" ng-click="postBlind(false)"
            ng-show="actionState === 'postSmallBlind' || actionState === 'postBigBlind'">Отказаться</button> -->
        <button class="control-button" ng-click="leaveTable()" ng-show="showLeaveTableButton()">Покинуть стол</button>
    </div>
    <div class="button-control">
        <!-- <button class="control-button" ng-click="sitIn()"
            ng-show="$root.sittingOnTable !== null && !$root.sittingIn">Вернуться</button>
        <button class="control-button" ng-click="postBlind(true)" ng-show="actionState === 'postSmallBlind'">Small
            Blind ({{table.smallBlind}})</button>
        <button class="control-button" ng-click="postBlind(true)" ng-show="actionState === 'postBigBlind'">Big Blind
            ({{table.bigBlind}})
        </button> -->
        <button class="control-button" ng-click="check()" ng-show="showCheckButton()">Check</button>
        <button class="control-button" ng-click="call()" ng-show="showCallButton()">Call
            {{round(callAmount())}}</button>
    </div>
    <div class="button-control">
        <button class="control-button" ng-click="bet()" ng-show="showBetButton()">Bet {{round(betAmount)}}</button>
        <button class="control-button" ng-click="raise()" ng-show="showRaiseButton()">Raise to
            {{round(betAmount)}}</button>
    </div>
    <div class="block-buttons-bet" ng-show="showBetRange()">
        <div class="buttons-bet" >
            <div class="button-bet hovered" ng-click="betAmount = round(minBetAmount())">Мин.</div>
            <div class="button-bet hovered" ng-click="betAmount = round(table.bigBlind * 3)">3xBB</div>
            <div class="button-bet hovered" ng-click="betAmount = round(potAmount() || table.bigBlind * 5)">
                {{potAmount() ? 'Банк' : '5xBB'}}</div>
            <div class="button-bet hovered" ng-click="betAmount = maxBetAmount()">Макс.</div>
        </div>
        <div class="range-input">
            <input type="number" id="bet-input" min="{{round(minBetAmount())}}"
                max="{{round(maxBetAmount())}}" ng-model="betAmount" value="{{round(betAmount)}}" step="table.bigBlind">
            <div class="button-range but hovered range-red" ng-click="betAmount = round(betAmount - table.bigBlind)">-</div>
            <input type="range" min="{{round(minBetAmount())}}" max="{{round(maxBetAmount())}}"
                ng-model="betAmount" step="table.bigBlind">
            <div class="button-range but range-green hovered" ng-click="betAmount = round(betAmount + table.bigBlind)">+</div>
        </div>
    </div>
</div>
<div id="audio">
    <audio id="fold-sound" src="/audio/fold.wav" preload="auto" />
    <audio id="check-sound" src="/audio/check.wav" preload="auto" />
    <audio id="call-sound" src="/audio/call.wav" preload="auto" />
    <audio id="bet-sound" src="/audio/bet.wav" preload="auto" />
    <audio id="raise-sound" src="/audio/raise.wav" preload="auto" />
    <audio id="my-step-sound" src="/audio/my_step3.mp3" preload="auto" />
</div>
