<div class="modal-wrap" ng-show="isOpenSettings">
    <div class="modal">
        <div id="settings big">
            <h4><i class="fa fa-cog" aria-hidden="true"></i> Settings</h4>
            <div class="setting-line"
                ng-click="$root.settings.cardColors = ($root.settings.cardColors === 'card2' ? 'card4' : 'card2')">
                <i class="fa hovered" ng-class="'fa-toggle-' + ($root.settings.cardColors === 'card4' ? 'on' : 'off')"
                    aria-hidden="true"></i>
                <div class="settings-label">4th color cards</div>
            </div>
            <div class="setting-line" ng-click="$root.settings.sound = !$root.settings.sound">
                <i class="fa hovered" ng-class="'fa-toggle-' + ($root.settings.sound ? 'on' : 'off')"
                    aria-hidden="true"></i>
                <div class="settings-label">Sound</div>
            </div>
            <div class="setting-line" ng-click="$root.settings.push = !$root.settings.push">
                <i class="fa hovered" ng-class="'fa-toggle-' + ($root.settings.push ? 'on' : 'off')"
                    aria-hidden="true"></i>
                <div class="settings-label">Push notify</div>
            </div>
            <div class="but bg-blue" ng-click="isOpenSettings = false">Ok</div>
        </div>
    </div>
</div>


<!-- Турнирная сводка -->
<div class="modal-wrap" ng-show="isOpenMTTinfo" ng-class="{opacity5: isOpacity}">
    <div class="modal">
        <div class="big">
            <h3>Сводка МТТ  <span class="big txt-green"ng-if="publicMtt.isFinal">Final!</span></h3>
            <div class="setting-line small" ng-click="isOpacity = !isOpacity">
            <i class="fa hovered" ng-class="'fa-toggle-' + (isOpacity ? 'on' : 'off')" aria-hidden="true"></i>
            <div class="settings-label">Transparent</div>
        </div>
            <div class="txt-yellow mt15">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <span>Банк: {{publicMtt.totalBank}} {{table.coinName}} ({{publicMtt.prizes.join('/')}})</span>
            </div>
            <div class="txt-green mt5">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>Winners: {{publicMtt.winnersCount}} из {{publicMtt.countParticipants}}</span>
            </div>
            <div class="txt-white mt10">
                <i class="fa fa-clock-o txt-blue" aria-hidden="true"></i>
                <span>Timeout Blinds Up: {{publicMtt.timerMultBlinds > 0 ? $root.normaliseSeconds(publicMtt.timerMultBlinds) : 'Рост!'}}</span>
            </div>
            <div class="txt-white" ng-if="!publicMtt.isFinal">
                <i class="fa fa-clock-o txt-blue" aria-hidden="true"></i>
                <span ng-show="publicMtt.timerShufflePlayers > 0">Shuffle players:
                    {{$root.normaliseSeconds(publicMtt.timerShufflePlayers)}}</span>
                <span ng-show="publicMtt.timerShufflePlayers <= 0">Wait...</span>
            </div>
            <div class="mt15">Players in game: <span class="big txt-white">{{publicMtt.playersList.length}}</span>
                <span class="small txt-green">{{publicMtt.countOnline}}</span> /
                <span class="small txt-red">{{publicMtt.countOffline}}</span>
            </div>
            <div class="txt-white mt15">Current level: <b>{{publicMtt.levelData.level}}</b>, reentry for <b>{{publicMtt.levelData.maxLevelReentry}}</b></div>
            <span class="txt-green hovered " ng-if="mySeat === null && !publicMtt.isFinal && publicMtt.levelData.level <= publicMtt.levelData.maxLevelReentry" ng-click="rebuy()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Join the tournament for {{publicMtt.buyIn}} {{table.coinName}}</span>
            <div class="mttPlayersListContainer mt5">
                <table class="center mttPlayersList">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Chips</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="(i, p) in publicMtt.playersList">
                        <td>{{i+1}}</td>
                        <td>{{p.name}}</td>
                        <td>{{$root.tsp(p.chipsInPlay)}}</td>
                        <td>
                            <i ng-if="p.isDisconnect" class="fa fa-user-times txt-red" aria-hidden="true"></i>
                            <i ng-if="!p.isDisconnect" class="fa fa-user txt-green" aria-hidden="true"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="but bg-blue" ng-click="isOpenMTTinfo = false">Hide</div>
        </div>
    </div>
</div>
