<div class="right-icon">
    <i onclick="toggleFullScreen()" class="fa fa-arrows-alt" aria-hidden="true"></i>
    <i onclick="location.reload()" class="fa fa-refresh" aria-hidden="true"></i>
    <i ng-if="!$root.voiceChatIsOn" ng-class="$root.voiceChatIsOn ? 'txt-green': 'txt-red'" class="big fa fa-headphones" ng-click="$root.voiceChatOn()" aria-hidden="true"></i>
    
    <i ng-if="$root.voiceChatIsOn" ng-class="$root.voiceChat.audio ? ' fa-volume-up txt-green ': ' fa-volume-down txt-blue '" ng-click="$root.voiceChat.audio = !$root.voiceChat.audio" class="big fa" aria-hidden="true"></i>
    <i ng-if="$root.voiceChatIsOn"  ng-class="$root.voiceChat.mic ? 'txt-green fa-microphone': 'txt-red fa-microphone-slash'" class="mic-button bigbig fa" aria-hidden="true"></i>
</div>
<div class="modal-wrap" ng-show="buyInModalVisible">
    <div class="modal">
        <form ng-submit="sitOnTheTable()">
            <h1>{{table.name}}</h1>
            <span ng-show="!table.isTourn || mySeat !== null">
                <div class="table-requirements">
                    <span class="table-modal-line">Min Buy-in:</span><span class="big txt-green">{{table.minBuyIn}}</span>
                </div>
                <div class="table-requirements">
                    <span class="table-modal-line">Max Buy-in:</span><span class="big txt-green">{{table.maxBuyIn}}</span>
                </div>
            </span>

            <span ng-show="table.isTourn && mySeat === null">
                <div class="big txt-blue"><i class="fa fa-trophy" aria-hidden="true"></i> Турнирный стол</div>
                <br>
                    <div class="table-requirements">
                        <span class="table-modal-line">Seats:</span><span class="txt-white">{{table.data.playersCount}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Winners:</span><span class="txt-white">{{table.data.winnersCount}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Chips:</span><span class="txt-white">{{table.data.chips}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Interval:</span><span class="txt-white">{{table.data.timeOutMult}}</span> мин.
                    </div>
                <div class="table-requirements">
                    <span class="table-modal-line">Buy-in:</span><span class="big txt-green">{{table.minBuyIn}}</span>
                </div>
            </span>

            <div class="table-requirements">
                <span class="table-modal-line">You deposit:</span>
                <span class="big txt-yellow">{{$root.user.deposits[$root.settings.coinName]}} {{$root.settings.coinName}}</span>
            </div>
            <div class="table-requirements">
                <span class="table-modal-line">You steak:</span>
                <span class="big txt-yellow">{{table.seats[mySeat].chipsInPlay || 0}} {{$root.settings.coinName}}</span>
            </div>
            <br>
            <!-- <div class="bigbig m5"> Докупить:</div> -->
            <input ng-show="!table.isTourn || mySeat !== null" class="input-left" type="number" ng-model="buyInAmount" ng-trim="true" required>
            <br>
            <span class="table-requirements txt-red small" ng-show="buyInError">{{buyInError}}</span>
            <br>
            <!-- <input class="hovered bg-green big" type="submit" ng-value="mySeat !== null ? 'Докупить' : 'Сесть'"> -->
            <!-- <input class="hovered bg-green big" type="submit" ng-value="mySeat !== null ? 'Докупить' : 'Сесть'"> -->
            <input class="hovered bg-green big" type="submit" value="Сесть">
        </form>
    </div>
    <div class="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
</div>

<!--settings-->

<div class="modal-wrap" ng-show="inToLobby">
    <div class="modal">
        <div class="modal-text">Вы действительно хотите покинуть комнату?<br> <b class="txt-yellow">Атоматически покинете стол и сделаете автофолд!</b></div>
        <div class="buts">
            <div class="but bg-green" ng-click="leaveRoom()">Да</div>
            <div class="but bg-red" ng-click="inToLobby = false">Нет</div>
        </div>
    </div>
    <div class="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
</div>

<div id="table">
    <img class="table-texture" src="/images/table_2.png" alt="table">
    <div class="table-name">
        <div ng-if="!table.isTournStart && table.data.userListArray.length" class="small table-reg-list">Участники: {{table.data.userListArray.join(', ')}}</div>
        <img ng-if="!isWaitSpinRate" src="/images/logo.png" alt="logo">
        <img ng-if="isWaitSpinRate && !spin.rate" src="/images/dice.gif" alt="dices">
        <!-- <div ng-if="isWaitSpinRate && spin.rate">
            <div class="spin-rate">Rate: table.maxBuyIn x {{spin.rate}}</div>
            <div class="spin-rate-link"><a ng-href="'/' + spin.hash">{{spin.hash}}</a></div>
        </div> -->
        <div>{{table.name}} <span class="txt-yellow">{{table.coinName}}</span><span ng-show="spin.rate || table.data.spin" class="big txt-yellow">x{{spin.rate || table.data.spin.rate}}</span> </div>
        <div>Big blind: {{table.bigBlind}}, {{table.isTourn ? 'Buy in' : 'Max buy in'}}: {{table.maxBuyIn}}
            <span ng-show="table.ante">, Ante: {{table.ante}}</span>
        </div>
    </div>
    <div id="felt"></div>
</div>
