<div class="right-icon" id="full-screen-icon" onclick="toggleFullScreen()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
<div class="modal-wrap" ng-show="buyInModalVisible">
    <div class="modal">
        <form ng-submit="sitOnTheTable()">
            <h1>{{table.name}}</h1>
            <span ng-show="!table.isTourn">
                <div class="table-requirements">
                    <span class="table-modal-line">Min Buy-in:</span><span class="big txt-green">{{table.minBuyIn}}</span>
                </div>
                <div class="table-requirements">
                    <span class="table-modal-line">Max Buy-in:</span><span class="big txt-green">{{table.maxBuyIn}}</span>
                </div>
            </span>
            
            <span ng-show="table.isTourn">
                <div class="big txt-blue">Турнирный стол</div>
                <br>
                    <div class="table-requirements">
                        <span class="table-modal-line">Мест:</span><span class="txt-white">{{table.data.playersCount}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Победителей:</span><span class="txt-white">{{table.data.winnersCount}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Фишек:</span><span class="txt-white">{{table.data.chips}}</span>
                    </div>
                    <div class="table-requirements">
                        <span class="table-modal-line">Интервал:</span><span class="txt-white">{{table.data.timeOutMult}}</span> мин.
                    </div>
                <div class="table-requirements">
                    <span class="table-modal-line">Buy-in:</span><span class="big txt-green">{{table.minBuyIn}}</span>
                </div>
            </span>

            <div class="table-requirements">
                <span class="table-modal-line">Ваш депозит:</span>
                <span class="big txt-yellow">{{$root.totalChips}} фишек</span>
            </div>
            <br>
            <input ng-show="!table.isTourn" class="input-left" type="number" ng-model="buyInAmount" ng-trim="true" required>
            <br>
            <span class="table-requirements txt-red small" ng-show="buyInError">{{buyInError}}</span>
            <br>
            <input class="hovered bg-green big" type="submit" value="Сесть">
        </form>
    </div>
    <div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
</div>

<!--settings-->

<div class="modal-wrap" ng-show="inToLobby">
    <div class="modal">
        <div class="modal-text">Вы действительно хотите покинуть комнату?<br> <b class="txt-yellow">Атоматически покинете стол и сделаете автофолд!</b></div>
        <div class="buts">
            <div class="but bg-green" ng-click="leaveRoom()">Да</div>
            <div class="but bg-red" ng-click="inToLobby = false">Нет</div>
        </div>
    </div>
    <div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
</div>

<div id="table">
    <div class="table-name">
        <div ng-if="!table.isTournStart && table.data.userListArray.length" class="small table-reg-list">Участники: {{table.data.userListArray.join(', ')}}</div>
        <img src="/images/logo.png">
        <div>{{table.name}}</div>
        <div>Big blind: {{table.bigBlind}}, {{table.isTourn ? 'Buy in' : 'Max buy in'}}: {{table.maxBuyIn}}<span ng-show="table.ante">, Ante: {{table.ante}}</span></div>
    </div>
    <div id="felt"></div>
</div>
