<h3 class="txt-blue">Правила Spin And Go</h3>
<p>
    Вначале каждого розыгрыша бросаются кости - отправляется пустая транзакция в блокчейн Minter, в комментарии к
    которой прикрепляется список участников (для подтверждения).
</p>
<p>
    Для определения коэффициента множителя берётся первая цифра с начала хеша транзакции. Хеш транзакции и ссылка на нее
    появляется в системном чате стола (кликом можно перейти на новую вкладку с транзакцией и убедиться в соответствии списка участников и времени проведения).
</p>
<p>
    <h4>Порядок множителей (первая цифра и коэффициент):</h4>
    <span class="big txt-yellow">
        х5 -> 0<br>
        x3 -> 8, 9<br>
        x2 -> 4, 5, 6, 7<br>
        x1 -> 1, 2, 3<br>
    </span>

</p>