
.buts {
    display: flex;
    justify-content: space-around;
}

.but {
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
    color: white;
    padding: 4px 0;
    width: 91px;
    text-align: center;
    margin: 1px auto;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.w100 {
    width: 100%;
}

.m1 {
    margin: 1px;
}

.hovered {
    opacity: 0.8;
    transition: .3s;
}

.hovered:hover {
    opacity: 1;
}

.hovered:active {
    background-color: #5c98bb
}

.bg-grey {
    background-color: #323141;
}

.bg-green {
    background-color: #425a3c;
}

.bg-red {
    background-color: #400810;
}

.bg-yellow {
    background-color: #745512;
}

.bg-blue {
    background-color: #0e2e41;
}

.txt-grey {
    color: #323141;
}

.txt-green {
    color: #65aa52;
}

.txt-red {
    color: #883945;
}

.txt-yellow {
    color: #fab41d;
}

.txt-blue {
    color: #0e2e41;
}

input {
    border-radius: 5px;
    border: 1px solid #492828;
    text-align: center;
    color: white;
    background: rgba(1, 1, 1, 0.7);
    margin: 1px;
}

.fa-volume-off {
    padding-right: 13px;
}

/* LOGIN */
#form {
    background: rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    position: fixed;
    top: 40%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    /* border: 1px solid #40c4ff; */
    /* background: #323141; */
}

#form u {
    cursor: pointer;
    font-weight: 100;
}

.form {
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}


/* TOPLINE */
#topline {
    display: flex;
    justify-content: space-around;
}

/* TOPBAR */
#topbar {
    /* border: 1px solid gray; */
    display: flex;
    width: 100%;
}

.deposit-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.deposit-count {
    text-align: center;
    font-size: 1.4em;
    padding: 1px;
}

.buttons-rate {
    align-items: center;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.bet_count {
    align-items: center;
    width: 265px;
}

.bet_count input {
    width: 220px;
}

.bet_value {
    font-size: 1.1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons-count {
    align-items: center;
    display: flex;
}

.topbar-label {
    font-size: 1.2em;
    width: 120px;
}

.activeCount {
    background-color: #fab41d !important;
}

/* GAME */
#gameBlock {
    width: 745px;
}

#rating {
    background-color: rgba(1, 1, 1, 0.6);
    width: 300px;
    height: 610px;
    padding: 10px;
}

#rating table {
    text-align: center;
    width: 100%;
    color: #cadde2;
}

#rating table th {
    color: #cadde2;
}

#rating table tr {
    color: #838080;
}

.rating-0 {
    color: goldenrod !important;
}

.rating-1 {
    color: silver !important;
}

.rating-2 {
    color: burlywood !important;
}

#game-line {
    display: flex;
}

.but_play {
    width: 220px;
    font-size: 1.3em;
    left: calc(50% - 110px);
    margin-top: 10px;
    transition: .3s;
}

.no-events {
    pointer-events: none;
    /* opacity: 0.8; */
}

/* FIELD */
#field {
    margin-top: 5px;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: 74px;
    height: 74px;
}

.plot {
    height: 70%;
    width: 70%;
    transition: 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 2px solid rgba(156, 22, 181, 0); */
}

.plot.close {
    cursor: pointer;
}

.plot.close:hover {
    height: 90%;
    width: 90%;
}

.plot.close,
.plot.choice {
    background-image: url(./gif/close_.gif);
}

.plot.smoke,
.plot.open,
.plot.bomb {
    width: 100%;
    height: 100%;
}

.plot.smoke {
    background-image: url(./gif/smoke.gif);
}

.plot.open {
    background-image: url(./gif/open_2.gif);
}

.plot.bomb {
    background-image: url(./gif/bomb.gif);
}

.plot.exp {
    background-image: url(./gif/exp.gif);
}

.plot.score {
    background-image: url(./gif/score_.gif);
}

.plot.choice {
    width: 0;
    height: 0;
}

.lose {
    border-radius: 5px;
    background-color: #492828;
}

/* LOG */
#log-game {
    color: #cadde2;
    margin-top: 5px;
    background-color: rgba(1, 1, 1, 0.6);
    width: 300px;
}

.current-next {
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}

.current-next span {
    font-size: 1.3em;
}

.log-txt {
    overflow-y: hidden;
    margin: 3px;
    text-align: center;
    height: 280px;
}

.drop-msg {
    font-size: 1.3em;
}

/* USER BLOCK */
#userInfo {
    color: wheat;
    background-color: rgba(1, 1, 1, 0.6);
    text-align: center;
    border-radius: 5px;
    width: 336px;
    display: flex;
    height: 85px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #444;
    margin-left: auto;
}

.avatar {
    margin-right: 10px;
    width: 90px;
    height: 80px;
}

.avatar img {
    border-radius: 50px;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid #444;
}

.avatar-icons {
    background-color: rgba(1, 1, 1, 0.6);
    margin-top: 60px;
    width: 20px;
    border: 1px solid grey;
    padding: 1px;
    position: absolute;
    border-radius: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-left-points {
    margin-left: 66px;
}

.infoblock {
    width: 220px;
}

.progressbar {
    width: 100%;
    text-align: center;
    border: 1px solid #444;
    width: 100%;
}

.lineinfo {
    display: flex;
    justify-content: space-around;
}

.userlogin {
    font-size: 1.2em;
}

/* USERPAGE */

.statList {
    color: wheat;
}

.user-data {
    color: wheat;
    display: flex;
    justify-content: center;
}

.mage-gif {
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

.mage-gif img {
    max-width: 100%;
    max-height: 100%;
}

.line-user-info span {
    color: #838080;
    display: inline-block;
    width: 100px;
}

.line-user-info,
.stat-line {
    font-size: 1.1em;
}

.stat-line span {
    margin-left: 25px;
    font-size: 1.1em;
    color: #838080;
    display: inline-block;
    width: 250px;
}

.stat-line .plot {
    position: absolute;
    height: 22px;
    width: 22px;
    display: inline-block;
}

.stat-line .fa {
    font-size: 0.8em;
}

/* MODAL */
#modal {
    display: none;
    color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    font-size: 0.85em;
}

#modal.show-modal {
    display: flex;
}

#modal-content {
    margin: auto;
    max-width: 400px;
    background-color: rgba(1, 1, 1, 0.6);
    border: 1px solid #444;
    border-radius: 5px;
}

#modal-header {
    padding: 5px;
}

#modal-header i{
    position: absolute;
    margin-left: -15px;
    margin-top: 4px;
}
#modal-header .title {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#modal-body {
    text-align: center;
    padding: 10px;
}

#modal-but {
    display: flex;
    padding: 5px;
}

/* RESPONSIVE */

@media (max-width: 400px) {
    #modal-content{
        width: 100%;
    }
    /* #main {
        width: 770px;
    }

    #content {
        flex-direction: column-reverse;
        align-items: center;
    } */
}
