html {
    touch-action: manipulation
}

body {
    margin: 0;
    background: #2c2c2c;
    font-family: Arial;
    color: #afaabe;
    font-size: 1em;
    background-image: url(../images/bg.jpg)
}

input[type="text"],
input[type="number"],
input[type="password"] {
    padding: 8px;
    width: 228px;
    border: 1px solid #afaabe;
    border-radius: 5px;
    color: #afaabe;
    font-size: 1.4em;
    background: #020202;
}

input {
    /* -webkit-appearance: none; */
    border-radius: 0
}

.block-18 {
    display: flex;
    margin-top: 25px;
}

#screen-18-input {
    display: block;
}

.label-18-input {
    font-size: .9em;
    color: #999;
}

button,
input[type="submit"],
.button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #afaabe;
    border-radius: 5px;
    color: #afaabe;
    /* font-weight: lighter; */
    width: 145px;
    padding: 9px;
}

button.small,
input[type="submit"].small,
.button.small {
    font-size: 1em
}

button.control-button,
input[type="submit"].control-button,
.button.control-button {
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1.7em;
    background-color: #459e51;
    border: 1px solid #afaabe;
    /* border-radius: 10px; */
    cursor: pointer
}

button.control-button.small,
input[type="submit"].control-button.small,
.button.control-button.small {
    font-size: 1em
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0
}

a {
    text-decoration: none;
    font-family: Arial;
    color: #afaabe;
    font-size: 1em;
    white-space: nowrap
}

.hidden {
    display: none
}

.error {
    color: #D64937
}

#content {
    margin: 0 auto;
    width: 1024px;
    height: 600px
}

table,
tr,
th,
td {
    border-collapse: collapse;
    padding: 8px
}

table {
    width: 100%
}

#table-wrap {
    position: relative;
    height: 100%
}

.table_dark {
    /* font-size: 1.8em; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: collapse;
    margin: 10px auto
}
.table_dark a{
    display: inline-block;
}


.table_dark tr {
    border-bottom: 1px solid #afaabe;
}

.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #EDB749;
    border-right: 1px solid;
    padding: 12px 17px;
    background: #101010;
}

.table_dark th:last-child {
    border-right: 0px;
}

.table_dark td {
    background: #1d1c22;
    /* border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5; */
    padding: 7px 17px
}

.table_dark tr:last-child td {
    border-bottom: none
}

.table_dark td:last-child {
    border-right: none
}

.table_dark tr:hover td {}

.login-path {
    font-size: 1.5em;
    margin: 30px;
    color: #afaabe
}

#user-panel {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    align-items: center
}

#user-panel .deposit {
    color: gold;
    font-size: 1.3em
}

#user-panel .user-name {
    color: wheat;
    font-size: 1.2em
}

#table {
    background-color: #605f6e;
    border-radius: 200px;
    left: 10%;
    position: absolute;
    top: 17%;
    width: 80%;
    z-index: 0;
    box-shadow: 0 0 25px 0 #2a272c
}

#table #felt {
    background-color: #326142;
    border-radius: 175px;
    width: 92%;
    height: 86%;
    position: relative;
    top: 7%;
    left: 4%;
    box-shadow: 0 0 20px 0 #070707 inset;
}

div.row {
    width: 100%;
    position: relative;
    z-index: 2
}

div.cell {
    float: left;
    width: 25%;
    height: 100%;
    position: relative
}

div.cell button {
    margin: 22.5% 15%
}

div.double-cell {
    float: left;
    width: 50%;
    height: 100%
}

div.controls div.cell {
    width: 15%
}

div.controls div.double-cell {
    width: 30%
}

div.controls div.double-cell .cell-content {
    padding: 8%
}

div.controls div.chat-cell {
    width: 250px
}

input[type="range"] {
    width: 90%;
    margin-top: 8%;
    padding: 0
}

.sitIn {
    padding: 12% 34%;
    cursor: pointer
}

.table-requirements {
    display: block
}

#chat-tabs {
    display: flex;
    margin-top: -115px;
    position: absolute;
    font-size: 1.3em;
}

#chat-tabs .chat-tab {
    margin-left: 3px;
    border: 1px solid grey;
    padding: 3px;
    width: 55px;
    text-align: center;
    background: black;
}

div#messages {
    border: 1px solid;
    height: 75px;
    background-color: black;
    padding: 8px;
    overflow: auto
}

div#messages p {
    margin: 0;
    word-wrap: break-word
}

div#messages p.log-message {
    color: #A69029
}

div#chat input[type="submit"] {
    font-size: 1.3em;
    padding: 5px 8px;
    margin: 1px 0 0 2px;
    background-color: rgba(46, 31, 62, 0.9);
}

div#chat input[type="text"] {
    width: 197px;
    font-size: 1em;
    margin: 3px 0 0 8px;
    padding: 5px;
    transform: translate(0, -2px);
    border-radius: 2px;
    background-color: black;
}

div.player-wrap {
    width: 64%;
    margin: 36% auto 0;
    position: relative
}

div.player-wrap.top {
    margin-top: 45%
}

div.player-wrap.bottom {
    margin-top: 22%
}

div.player-wrap.left {
    margin-left: 30%
}

div.player-wrap.right {
    margin-left: 8%
}

div.player-wrap.side {
    margin-top: 32%
}

div.player-wrap .player-cards {
    overflow: hidden;
    height: 60px;
    left: 32px;
    position: absolute;
    top: 0px;
    width: 100px;
    -webkit-transition: top 0.4s ease;
    transition: top 0.4s ease
}

div.player-wrap .player-cards.dealt {
    top: -60px
}

div.player-wrap .player-cards .card:first-child {
    left: 0
}

div.player-wrap .player-cards .card {
    left: 28px;
    position: absolute
}

div.seat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #0d0d0d;
    background-image: url("/images/bg-seat.jpg");
    background-position: right bottom;
    border: 1px solid #afaabe;
    border-radius: 3px;
    color: #afaabe;
    font-size: 1.4em;
    /* font-weight: lighter; */
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 10px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 10px 4px 0px rgba(0, 0, 0, 0.5);

    /* box-shadow: 0 0 5px 0 #2a272c; */
    -webkit-transition: box-shadow .2s ease, border .2s ease;
    transition: box-shadow .2s ease, border .2s ease
}

.no-hand {
    opacity: 0.8;
}

div.seat.active {
    border: 2px solid #ffd54f99;
    box-shadow: 0 0 3px 0 #fbc02d82;
}

div.seat.active.me{
    border: 2px solid rgb(241, 122, 86);
    box-shadow: 0 0 3px 0 rgb(241, 122, 86);
}
div.seat.winner {
    color: #e9e0ee;
    border: 2px solid #eabb56;
    box-shadow: 0 0 5px 0 #4f9745
}

div.seat p {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0
}

div.seat .player-content span {
    line-height: 1.2;
    display: block
}
div.seat .player-content span.me{
    color: rgb(134, 187, 137);
}
div.seat .player-content .notification {
    line-height: 2.4
}

.player-content .txt-yellow {
    font-size: 1em;
}

div#board-wrap {
    margin: 6% 8%
}

div#board-wrap .card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 0 auto
}

div#board-wrap .card-container {
    width: 19%;
    display: inline-block
}

.card {
    background-size: 1040px auto;
    border-radius: 8px 8px 0 0;
    height: 100%;
    box-shadow: 0 0 3px 0 #808080;
    overflow: hidden;
    width: 72px;
    height: 107px;
    transition: opacity 0.5s;
    /* background-image: url("/images/deck4.png"); */
}

#board-wrap .card-container{
    /* opacity: 0; */
    transition: transform 0.5s, opacity 0.5s, scaleY .5s, scaleX .5s;
}

#board-wrap .card-container.board-card-1{
    transform: translateY(-250%) translateX(-250%) scaleY(3) scaleX(3);
    /* transition: transform 0.3s; */
}
#board-wrap .card-container.board-card-2{
    transform: translateY(-250%) translateX(-350%) scaleY(3) scaleX(3);
    transition: transform .65s;
}
#board-wrap .card-container.board-card-3{
    transform: translateY(-250%) translateX(-450%) scaleY(3) scaleX(3);
    transition: transform .8s;
}
#board-wrap .card-container.board-card-4{
    transform: translateY(-250%)  translateX(-550%) scaleY(3) scaleX(3);
}
#board-wrap .card-container.board-card-5{
    transform: translateY(-250%) translateX(-650%) scaleY(3) scaleX(3);
}
 
#board-wrap .card-container.card-show{
    opacity: 1;
    transform: translateY(0) translateX(0) scaleY(1) scaleX(1);
}

.card-highlight{
    z-index: 2;
    border: 2px solid #ffa726;
}
.card-unhighlight{
    opacity: 0.5;
    z-index: 1;
}

.card2 {
    background-image: url("/images/deck.png");
}

.card4 {
    background-image: url("/images/deck4.png");
}

.card.card-As {
    background-position: 0.2% 0.5%
}

.card.card-Ah {
    background-position: 0.2% 99.3%
}

.card.card-Ad {
    background-position: 0.2% 66.5%
}

.card.card-Ar {
    background-position: 0.2% 66.5%
}

.card.card-Ac {
    background-position: 0.2% 33.3%
}

.card.card-Ks {
    background-position: 7.9% 0.5%
}

.card.card-Kh {
    background-position: 7.9% 99.3%
}

.card.card-Kd {
    background-position: 7.9% 66.5%
}

.card.card-Kc {
    background-position: 7.9% 33.3%
}

.card.card-Qs {
    background-position: 15.5% 0.5%
}

.card.card-Qh {
    background-position: 15.5% 99.3%
}

.card.card-Qd {
    background-position: 15.5% 66.5%
}

.card.card-Qc {
    background-position: 15.5% 33.3%
}

.card.card-Js {
    background-position: 23.2% 0.5%
}

.card.card-Jh {
    background-position: 23.2% 99.3%
}

.card.card-Jd {
    background-position: 23.2% 66.5%
}

.card.card-Jc {
    background-position: 23.2% 33.3%
}

.card.card-Ts {
    background-position: 30.9% 0.5%
}

.card.card-Th {
    background-position: 30.9% 99.3%
}

.card.card-Td {
    background-position: 30.9% 66.5%
}

.card.card-Tc {
    background-position: 30.9% 33.3%
}

.card.card-9s {
    background-position: 38.6% 0.5%
}

.card.card-9h {
    background-position: 38.6% 99.3%
}

.card.card-9d {
    background-position: 38.6% 66.5%
}

.card.card-9c {
    background-position: 38.6% 33.3%
}

.card.card-8s {
    background-position: 46.3% 0.5%
}

.card.card-8h {
    background-position: 46.3% 99.3%
}

.card.card-8d {
    background-position: 46.3% 66.5%
}

.card.card-8c {
    background-position: 46.3% 33.3%
}

.card.card-7s {
    background-position: 53.8% 0.5%
}

.card.card-7h {
    background-position: 53.8% 99.3%
}

.card.card-7d {
    background-position: 53.8% 66.5%
}

.card.card-7c {
    background-position: 53.8% 33.3%
}

.card.card-6s {
    background-position: 61.5% 0.5%
}

.card.card-6h {
    background-position: 61.5% 99.3%
}

.card.card-6d {
    background-position: 61.5% 66.5%
}

.card.card-6c {
    background-position: 61.5% 33.3%
}

.card.card-5s {
    background-position: 69.2% 0.5%
}

.card.card-5h {
    background-position: 69.2% 99.3%
}

.card.card-5d {
    background-position: 69.2% 66.5%
}

.card.card-5c {
    background-position: 69.2% 33.3%
}

.card.card-4s {
    background-position: 76.8% 0.5%
}

.card.card-4h {
    background-position: 76.8% 99.3%
}

.card.card-4d {
    background-position: 76.8% 66.5%
}

.card.card-4c {
    background-position: 76.8% 33.3%
}

.card.card-3s {
    background-position: 84.5% 0.5%
}

.card.card-3h {
    background-position: 84.5% 99.3%
}

.card.card-3d {
    background-position: 84.5% 66.5%
}

.card.card-3c {
    background-position: 84.5% 33.3%
}

.card.card-2s {
    background-position: 92.1% 0.5%
}

.card.card-2h {
    background-position: 92.1% 99.3%
}

.card.card-2d {
    background-position: 92.1% 66.5%
}

.card.card-2c {
    background-position: 92.1% 33.3%
}

.card.card-back {
    background-position: 99.8% 33.3%
}

#dealer-wrap-0 {
    top: 105%;
    left: 82%
}

#dealer-wrap-1 {
    top: 105%;
    left: 5%
}

#dealer-wrap-2 {
    top: 105%;
    left: 80%
}

#dealer-wrap-3 {
    top: 105%;
    left: 0px
}

#dealer-wrap-4 {
    top: 100%;
    left: -20%
}

#dealer-wrap-5 {
    top: -30%;
    left: 0%
}

#dealer-wrap-6 {
    top: -35%;
    left: 0%
}

#dealer-wrap-7 {
    left: 85%;
    top: -35%
}

#dealer-wrap-8 {
    top: -35%;
    left: 85%
}

#dealer-wrap-9 {
    top: 70%;
    left: 110%
}

.dealer-button {
    display: flex;
    position: absolute;
    border: 1px solid #afaabe;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: rgba(41, 40, 43, 0.9);
    box-shadow: 0 3px 0 0 rgb(7, 3, 24);
    justify-content: center;
}

#bets-0 {
    top: 75%;
    left: 75%
}

#bets-1 {
    top: 110%;
    left: 0
}

#bets-2 {
    top: 110%;
    left: 0
}

#bets-3 {
    left: -75%;
    top: 100%
}

#bets-4 {
    top: 40%;
    left: -103%
}

#bets-5 {
    top: -30%;
    left: -75%
}

#bets-6 {
    top: -66%;
    left: -50%
}

#bets-7 {
    top: -66%;
    left: 50%
}

#bets-8 {
    top: -30%;
    left: 75%
}

#bets-9 {
    top: 33%;
    left: 75%
}

.bets {
    position: absolute;
    text-align: center;
    width: 100%;
    color: gold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.bets .ng-binding {
    display: flex;
    align-items: center;
    justify-content: center
}

.bets img {
    width: 15px;
    height: 15px
}

#pot-wrap {
    height: 10%;
    text-align: center;
}

#pot-wrap #pot {
    color: rgb(238, 235, 235);
    background: rgb(138, 152, 165);
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px 8px;
}

#to-lobby {
    font-size: 1em;
    position: absolute;
    top: 2%;
    left: 2%
}

.modal-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.modal-wrap .modal {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid darkgrey;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    top: 18%;
    width: 440px;
    z-index: 101
}

.modal-wrap .modal label {
    display: block;
    font-size: large;
    margin: 10px;
}

.modal-wrap .modal .input-left {
    margin-right: 32px;
    width: 50%
}

.modal-wrap #curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2
}

#developer-info {
    margin-top: 8px;
    font-size: 0.8em
}

#developer-info a {
    text-decoration: underline
}

.right-icon {
    position: fixed;
    right: 10px;
    top: 10px;
    color: #7c8186;
    font-weight: 100;
    font-size: 2.5em
}

.settings {
    top: 20px;
}

.setting-line {
    display: flex;
    font-size: 1.3em;
    color: rgb(235, 227, 227);
}

.setting-line .fa {
    font-size: 1.3em;
    margin-right: 10px;
}

.setting-line .fa-toggle-on {
    color: #3c8ab9
}

.settings-label {
    opacity: 0.7;
}

.setting-line input,
.setting-line select {
    background: #020202;
    padding: 3px;
    font-size: 0.9em;
    border: 1px solid grey;
    border-radius: 3px;
    color: rgb(189, 185, 185);
    width: 100px;
}

.setting-line span {
    width: 200px;
}

#room-create .setting-line {
    margin: 3px auto;
    width: 300px;
    align-items: center;
    display: flex;
    font-size: 1.2em;
    color: rgb(235, 227, 227);
}

.create-room {
    width: 190px !important;
    background-color: #459e51;
    margin: 2px !important;
}


#checkbox-auto-moves {
    font-size: 0.9em;
    position: absolute;
    width: 150px;
    left: -72px;
}

.withdraw input {
    padding: 3px;
    width: 120px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

#checkbox-auto-moves .fa-toggle-on {
    color: #fab41d;
}


.bottom-corrector {
    display: none;
    z-index: -1 !important
}


#noticeOrientation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center
}

#noticeOrientation img {
    width: 95%
}

#preloader {
    z-index: 100000;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
    transition: .3s;
    justify-content: center;
    align-items: center
}

#preloader img {
    width: 200px
}

.rotate {
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.img_animate {
    width: 20px;
    height: 20px;
    display: inline-block;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: 100% 100%
}

.dark-cheap {
    background-image: url(../images/preloader.png)
}

.red-cheap {
    background-image: url(../images/cheap_red.png)
}

.dice-gif {
    background-image: url(../images/dice.gif);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.table-name-img {
    align-items: center;
    display: flex
}

.hide {
    opacity: 0
}

/* 
.line-title-mtt{
    text-align: left;
    width: 200px;
    display: inline-block;
}

.line-mtt-info{
    width: 300px;
} */
.mtt-info{
    width: 320px;
    margin: 5px auto;
}
@media screen and (orientation:portrait) and (max-device-width:500px) {
    #content {
        display: none
    }

    #noticeOrientation {
        display: flex
    }
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: black;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: black;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: black;
}

#global-wrap{
    display: none;
    position: fixed;
}